/* CSS */
body {
    background-image: url('/static/imagenes/back1.webp'); 
    background-size: cover; /* Ajustar la imagen al tamaño de la ventana */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    background-attachment: fixed; /* Fijar el fondo para que no se desplace con el contenido */
    background-color: #fff;
    color: #fff; /* Color de texto predeterminado para asegurarse de que sea legible */
}

/* Estilos para el modo oscuro */
body.dark {
    /* Estilos para el modo oscuro */
    background-image: url('/static/imagenes/back2.webp'); 
    background-color: #222222;
    color: #fff;
}

@media (max-width: 768px) {
    /* Cambia la imagen de fondo en dispositivos móviles */
    body {
        background-image: url('/static/imagenes/back1.webp');
    }
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

body.dark .container {
    /* Estilos para el contenedor en el modo oscuro */
    background-color: #580270;
    box-shadow: 0 0 10px rgba(56, 3, 99, 0.361);
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o una fuente sans-serif */
    font-weight: bold; /* Hace que el texto sea más grueso */
    max-width: 100%; /* Evita que el texto se salga de los límites */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.092); /* Sombra de texto menos difusa */
}

body.dark .title{
    color: #fff;
}

.timer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.timer {
    font-size: 36px;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    border-radius: 5px;
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o una fuente sans-serif */
    font-weight: bold; /* Hace que el texto sea más grueso */
    max-width: 100%; /* Evita que el texto se salga de los límites */
    text-shadow: 1px 1px 0 rgb(0, 0, 0); /* Sombra de texto menos difusa */
}

.break-timer {
    background-color: #e74c3c;
}

.text-container {
    margin-bottom: 20px;
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o una fuente sans-serif */
    font-weight: bold; /* Hace que el texto sea más grueso */
    max-width: 100%; /* Evita que el texto se salga de los límites */
    text-shadow: 1px 1px 0 rgb(0, 0, 0); /* Sombra de texto menos difusa */
}

.text {
    font-size: 18px;
    color: #333;
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o una fuente sans-serif */
    font-weight: bold; /* Hace que el texto sea más grueso */
    max-width: 100%; /* Evita que el texto se salga de los límites */
    text-shadow: 1px 1px 0 rgb(0, 0, 0); /* Sombra de texto menos difusa */
}



.controls {
    margin-bottom: 20px;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.info {
    font-size: 14px;
    color: #777;
}

.info-text {
    margin-bottom: 5px;
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o una fuente sans-serif */
    font-weight: bold; /* Hace que el texto sea más grueso */
    max-width: 100%; /* Evita que el texto se salga de los límites */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0); /* Sombra de texto menos difusa */
}

body.dark .info-text{
    color: #fff;
}

.info-value {
    font-weight: bold;
    color: #333;
}

body.dark .info-value{
    color: #fff;
}

.mute-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mute-btn:hover {
    background-color: #999;
    color: #fff;
}


/* Estilo para los botones */
button {
    background-color: #3498db; /* Color de fondo por defecto */
    color: #fff; /* Color de texto por defecto */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

/* Cambiar el color de fondo al pasar el mouse por encima */
button:hover {
    background-color: #2980b9; /* Nuevo color de fondo al pasar el mouse */
    transform: scale(1.05); /* Escalar ligeramente el botón */
}

/* Estilo para el texto de Descansa y Tiempo de estudio */
#breakText {
    font-size: 24px; /* Tamaño de fuente más grande */
    color: #e74c3c; /* Color diferente para Descansa */
}

#timerText {
    font-size: 24px; /* Tamaño de fuente más grande */
    color: #2ecc71; /* Color para Tiempo de estudio */
}


/* CSS para el botón de cambio de modo */
#modeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000000;
    border: none;
    cursor: pointer;
    z-index: 100; /* Asegura que esté en la parte superior de otros elementos */
}

body.dark #modeToggle{
    background-color: rgba(60, 1, 108, 0);
    color: #fff;
}

@media (max-width: 768px) {
    /* Estilos para dispositivos móviles */
    #modeToggle {
        position: relative; /* Cambia la posición del botón */
        top: 0; /* Ajusta la posición vertical según sea necesario */
        right: 0; /* Ajusta la posición horizontal según sea necesario */
        margin-top: 10px; /* Agrega margen superior para separarlo de otros elementos */
    }
}


/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #333;
    color: #fff; /* Cambia el color del texto en modo oscuro */
}

/* Estilos para el modo claro */
.light-mode {
    background-color: #fff;
    color: #333;
}
