
body {
    background-image: url('/static/imagenes/back1.webp'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
    color: #fff;
    transition: background-color 0.5s ease;

}

/* Estilos para el modo oscuro */
body.dark {
    background-image: url('/static/imagenes/back2.webp'); 
    background-color: #222222;
    color: #fff;
}

@media (max-width: 768px) {
    body {
        background-image: url('/static/imagenes/back1.webp');
    }
}


.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.635);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

body.dark .container {
    box-shadow: 0 0 10px rgba(56, 3, 99, 0.361);
    background-color: rgba(88, 2, 112, 0.9);
    backdrop-filter: blur(10px);
}

.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    max-width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body.dark .title{
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.timer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.timer {
    font-size: 36px;
    padding: 10px 20px;
    background-color: #311B92;
    color: #fff;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    max-width: 100%;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
}

.break-timer {
    background: linear-gradient(145deg, #283593, #3748c7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.text-container {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    max-width: 100%;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
}

.text {
    font-size: 18px;
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: bold;
    max-width: 100%;
}


.controls {
    margin-bottom: 20px;
}



.info {
    font-size: 14px;
    color: #777;
}

.info-text {
    margin-bottom: 5px;
    color: #000000;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    max-width: 100%;
}

body.dark .info-text{
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.info-value {
    font-weight: bold;
    color: #333;
}

body.dark .info-value{
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

body.dark .timer {
    background: linear-gradient(145deg, #0f3460, #16213e);
}

body.dark .break-timer {
    background: linear-gradient(145deg, #6a2c70, #b83b5e);
}


/* Estilo para el texto de Descansa y Tiempo de estudio */
#breakText {
    font-size: 24px;
    /*color: #e74c3c;*/
}

#timerText {
    font-size: 24px;
    color: #1565C0;
}

body.dark #timerText {
    color: #d9fbff;
}

/* CSS para el botón de cambio de modo */
#modeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000000;
    border: none;
    cursor: pointer;
    z-index: 100;
}

body.dark #modeToggle{
    background-color: rgba(60, 1, 108, 0);
    color: #fff;
}

@media (max-width: 768px) {
    /* Estilos para dispositivos móviles */
    #modeToggle {
        position: relative;
        top: 0;
        right: 0;
        margin-top: 10px;
    }
}


/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Estilos para el modo claro */
.light-mode {
    background-color: #fff;
    color: #333;
}
