<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/buttons.css">
    <title>Temporizador Pomodoro - Mejora tu Enfoque</title>
</head>
<body>
    
    
    <div class="container">
        <h1 class="title">Temporizador Pomodoro - Enfoca y Produce</h1>
        <div class="timer-container">
            <div id="timer" class="timer">25:00</div>
            <div id="breakTime" class="timer break-timer">5:00</div>
        </div>
        <div class="text-container">
            <div id="timerText" class="text">Sesión de Enfoque</div>
            <div id="breakText" class="text" style="display:none;">Toma un Descanso</div>
        </div>
        <div class="controls">
            <button id="startBtn" class="btn">Iniciar</button>
            <button id="stopBtn" class="btn">Detener</button>
            <button id="pauseBtn" class="btn">Pausar</button> 
        </div>
        <div class="info">
            <p class="info-text">Ciclos completados: <span id="completedCycles" class="info-value">0</span></p>
            <p class="info-text">25 minutos de estudio 5 minutos de descanso, 20 minutos de descanso cada 4 ciclos <span id="longBreak" class="info-value"></span></p>
        </div>
        <input id="checkboxInput" type="checkbox" />
        
        <label class="toggleSwitch" for="checkboxInput">
        <div class="speaker">
            <svg viewBox="0 0 75 75" version="1.0" xmlns="http://www.w3.org/2000/svg">
            <path
                style="stroke:#fff;stroke-width:5;stroke-linejoin:round;fill:#fff;"
                d="M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z"
            ></path>
            <path
                style="fill:none;stroke:#fff;stroke-width:5;stroke-linecap:round"
                d="M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6"
            ></path>
            </svg>
        </div>

        <div class="mute-speaker">
            <svg stroke-width="5" stroke="#fff" viewBox="0 0 75 75" version="1.0">
            <path
                stroke-linejoin="round"
                fill="#fff"
                d="m39,14-17,15H6V48H22l17,15z"
            ></path>
            <path
                stroke-linecap="round"
                fill="#fff"
                d="m49,26 20,24m0-24-20,24"
            ></path>
            </svg>
        </div>
        </label>

        
    </div>
    <audio id="studyAudio" preload="auto" autoplay="false">
        <source src="/static/sound/campana1.mp3" type="audio/mpeg">
    </audio>
    
    <audio id="breakAudio" preload="auto" autoplay="false">
        <source src="/static/sound/campana2.mp3" type="audio/mpeg">
    </audio>
    
    <audio id="longBreakAudio" preload="auto" autoplay="false">
        <source src="/static/sound/campana3.mp3" type="audio/mpeg">
    </audio>
    
    <audio id="rainAudio" preload="auto" autoplay="false" loop>
        <source src="/static/sound/lluvia.mp3" type="audio/mpeg">
    </audio>
    
    
    <button class="theme__icon" id="modeToggle">
        <span></span>
        <span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
        <span></span>
      </button>
      
    <script src="/static/main.js"></script>
</body>
</html>

